@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: quote($font-name);
        src: url("./fonts/" + $file-name + ".ttf");
        font-weight: $weight;
        font-style: $style;
    }
}

